<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view on-swipe-right="getBack()">
         <ion-content padding="true" style="background-image: url({{detailedView.ImageUrl}}); background-size: cover;">
        <h1>{{detailedView.CityName}}</h1>
             <p>
                 'Staden är belägen vid floden Seine och grundades av romarna under namnet Lutetia. Paris utgör ett eget departement i regionen Île-de-France. Staden delas in i 20 arrondissement. Paris innerstad har cirka 2,2 miljoner invånare och med förorter över 11 miljoner invånare. Paris är ett av världens viktigaste affärs- och kulturcentrum. Som en av de mest betydelsefulla globala städer är Paris även ett viktigt politiskt, teknologiskt och konstnärligt centrum, samt ansedd som modets och gastronomins huvudstad [4]. Paris besöks årligen av cirka 30 miljoner utländska turister, vilket gör staden till en av världens mest besökta städer.
             </p>
         </ion-content>
</ion-view>
