<ion-view view-title="My Strive" ng-style="{'background-image': 'url('+currentStretch.imageUrl+')'}" style="margin-top: 25px; background-size: cover; background-position: center center;">
    <ion-content class="col-50 mapLine" padding="true">
        <div ng-repeat="city in route.results" route-map="city"></div>
    </ion-content>
    <ion-content class="col-50 col-offset-50 text-left cityPointContainer">
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>
        <a href="" ng-click="findMe()"><span>Nuvarande position</span></a><br><br>
        <span class="title">{{currentStretch.cityName || 'No City name available'}}</span><br/>
        <span>Sträcka: {{currentStretch.distanceToNextPoint || '0'}} m</span><br/>
        <span>Total: {{currentStretch.totalDistanceMeters || '0'}} m</span><br/>
        <span>{{currentStretch.wikiText || 'no data'}}..</span>
        <br/>
        <br/>
        <br/>

        <br/>
        <!--<img src="{{currentStretch.imageUrl}}" width="50%" alt=""/>-->
        <button ng-click="addFakeSteps()" ng-disabled="isLoading" class="button button-dark button-small button-block">Add some steps for today</button>
        <span style="font-size: 2em;">{{todaysSteps || '0'}}</span>
    </ion-content>
</ion-view>


